.my_credentials*
MyVenvFolder/
__pycache__/
bsp_artifacts/
tmp_output/
.aider*
digest.txt
compile_commands.json

#Ignore README.md because put it in separate dir in Obsidian Vault
README.md
.common_symlinks